.mce_upload,
.mce_upload2 {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: var(--index-modal);
	background: rgba(0, 0, 0, 0.5);
}

.mce_upload_box {
	margin: auto;
	width: 400px;
	max-width: 90%;
	background: #ffffff;
	padding: 30px;
	text-align: center;

	-webkit-border-radius: var(--radius-normal);
	-moz-border-radius: var(--radius-normal);
	border-radius: var(--radius-normal);
}

.mce_upload_box label.legend {
	margin-bottom: 15px;
}

.mce_upload_box .btn {
	width: 100%;
}
