/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap'); */
/* font-family: 'Roboto', sans-serif; */
/* @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap'); */
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Cairo:400,600&display=swap');
/* font-family: 'Cairo', sans-serif; */

:root{
	--vermelho: rgb(247, 120, 120);
	--branco: #fff;
	--vermelho-hover: rgb(110, 0, 0);
	/* --dack: #000; */
}
a{
	color: var(--dark)
}
a:hover{
	text-decoration: none;
}

body {
	font-family: 'Cairo', sans-serif;
}
main {
	margin-top: 15px;
}
.nav {
	background: var(--vermelho)
}
.nav a {
	color: var(--branco);
	transition: all ease 300ms;
	font-size: 1.2em;
}
.nav a:hover {
	color: var(--vermelho-hover);
}
.nav .active {
	color: var(--vermelho-hover);
}
.navbar-toggler-icon {
	color: var(--branco);
	border: solid 1px var(--branco);
}
.form input {
	border: none;
	outline: none;
	padding: 10px;
}
.form button {
	border: none;
	background: none;
	cursor: pointer;
	color: var(--branco);
	padding: 10px;
}

/* BODY */
.destaque {
	margin-bottom: 15px;
}
.fundo-texto {
	background: rgba(0, 0, 0, 0.7);
	transition: all ease 300ms;
}
.fundo-texto:hover {
	background: rgb(0, 0, 0);
	color: var(--branco)
}
.fundo-texto h1 {
	font-size: 1.4em;
	font-weight: 400;
}
.link {
	cursor: pointer;
}
.box-menor h2 {
	font-size: 1.2em;
	transition: all ease 300ms;
}
.box-menor:hover h2 {
	color: #0044ff;
}
.banner {
	margin: 15px 0;
}
small {
	color: #aaa;
}
.texto_html .cover_destaque {
	margin-bottom: 15px;
}
.veja_mais {
	background: yellowgreen;
	padding: 22.5px 30px;
	font-size: 1.3em;
	color: var(--branco);
	margin-bottom: 10px;
	float: left;
	transition: all ease 300ms;
}
.veja_mais:hover {
	background: green;
	color:var(--branco)
}
.compartilhar {
	background: #eee;
	text-align: right;
	padding: 15px 25px;
	box-shadow: rgb(158, 158, 158) 4px 4px 5px;
}

/* ARTICLE */
.categ{
	color:#9c9c9c
}
.compartilhar span{
	color:#9c9c9c
}

/* ASIDE */
.mais-lidas {
	border: solid 1px #aaa;
	margin: 10px 0;
}
.mais-lidas h3 {
	font-size: 1.2em;
	background: var(--vermelho);
	padding: 5px 10px;
	color: var(--branco);
}
.mais-lidas h4 {
	font-size: 1em;
}
.list-lidas {
	border-bottom: solid 1px #ccc;
	margin: 0 15px 15px 15px;
	display: flex;
	transition: all ease 300ms;
}
.list-lidas:nth-child(6) {
	border: none;
}
.list-lidas img {
	margin: 5px;
	border-radius: 5px;
	border: solid 1px #ccc;
}
.list-lidas:hover h4 {
	color: #0044ff;
}

footer {
	background: var(--vermelho);
	padding: 10px;
	text-align: center;
	color: var(--branco);
	margin-top: 10px;
}

/* ICONS */
.fa-search {
	/* color: #ccc; */
	width: 30px;
}
.fa-bars {
	color: var(--branco);
	width: 30px;
}
.fa-facebook-square {
	color: rgb(41, 116, 228);
	width: 40px;
	margin-left: 15px;
	transition: all ease 300ms;
}
.fa-whatsapp-square {
	color: rgb(42, 175, 109);
	width: 40px;
	margin-left: 15px;
	transition: all ease 300ms;
}
.fa-facebook-square:hover,
.fa-whatsapp-square:hover {
	color: #000;
}
